mat-toolbar {
  height: 100px;
}

.logo {
  width: 90px;
}

h1 {
  font-size: 2rem;
  color: #cfdb21;
  text-shadow: #4e4b4b 2px 2px;
}

strong {
  font-size: 2rem;
  color: #2dbd2d;
  text-shadow: #4e4b4b 2px 2px;
}

@media only screen and (max-width: 550px) {
  mat-toolbar {
    height: 80px;
  }

  h1 {
    font-size: 1.4rem;
  }

  strong {
    font-size: 1.4rem;
  }

  .logo {
    width: 70px;
  }
}
