<app-header></app-header>
<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxLayoutGap="60px"
>
  <h1>Times do estado de São Paulo</h1>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="space-around center"
    fxLayoutGap="60px"
  >
    <a [routerLink]="['saopaulofc']">
      <mat-card class="example-card" fxFlex>
        <mat-card-header>
          <mat-card-title>São Paulo FC</mat-card-title>
          <mat-card-subtitle>Soberano tricolor</mat-card-subtitle>
        </mat-card-header>
        <img
          class="imgSP"
          mat-card-image
          src="../../../assets/img/spfc.png"
          alt="Escudo do São Paulo"
        />
        <mat-card-content>
          <p>Clique para acessar a página do tricolor paulista</p>
        </mat-card-content>
      </mat-card>
    </a>
    <a>
      <mat-card class="example-card" fxFlex>
        <mat-card-header>
          <mat-card-title>Corinthians FC</mat-card-title>
          <mat-card-subtitle>O time do povo</mat-card-subtitle>
        </mat-card-header>
        <img
          class="imgCor"
          mat-card-image
          src="../../../assets/img/corinthians.png"
          alt="Escudo do Corinthians"
        />
        <mat-card-content>
          <p>Clique para acessar a página do time do povo</p>
        </mat-card-content>
      </mat-card>
    </a>
    <a>
      <mat-card class="example-card" fxFlex>
        <mat-card-header>
          <mat-card-title>Palmeiras FC</mat-card-title>
          <mat-card-subtitle>Verdão</mat-card-subtitle>
        </mat-card-header>
        <img
          class="imgPal"
          mat-card-image
          src="../../../assets/img/palmeiras.png"
          alt="Escudo do Palmeiras"
        />
        <mat-card-content>
          <p>Clique para acessar a página do verdão</p>
        </mat-card-content>
      </mat-card>
    </a>
    <a>
      <mat-card class="example-card" fxFlex>
        <mat-card-header>
          <mat-card-title>Santos FC</mat-card-title>
          <mat-card-subtitle>Peixão</mat-card-subtitle>
        </mat-card-header>
        <img
          class="imgSan"
          mat-card-image
          src="../../../assets/img/santos.png"
          alt="Escudo do Santos"
        />
        <mat-card-content>
          <p>Clique para acessar a página do peixão</p>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
  <h1>Times do estado do Rio de Janeiro</h1>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="space-around center"
    fxLayoutGap="60px"
  >
    <a>
      <mat-card class="example-card" fxFlex>
        <mat-card-header>
          <mat-card-title>Flamengo FC</mat-card-title>
          <mat-card-subtitle>Mengão Malvadão</mat-card-subtitle>
        </mat-card-header>
        <img
          class="imgFla"
          mat-card-image
          src="../../../assets/img/flamengo.png"
          alt="Escudo do Flamengo"
        />
        <mat-card-content>
          <p>Clique para acessar a página do mengão malvadão</p>
        </mat-card-content>
      </mat-card>
    </a>
    <a>
      <mat-card class="example-card" fxFlex>
        <mat-card-header>
          <mat-card-title>Vasco FC</mat-card-title>
          <mat-card-subtitle>Vascão</mat-card-subtitle>
        </mat-card-header>
        <img
          class="imgVas"
          mat-card-image
          src="../../../assets/img/vasco.png"
          alt="Escudo do Vasco"
        />
        <mat-card-content>
          <p>Clique para acessar a página do vascão</p>
        </mat-card-content>
      </mat-card>
    </a>
    <a>
      <mat-card class="example-card" fxFlex>
        <mat-card-header>
          <mat-card-title>Fluminense FC</mat-card-title>
          <mat-card-subtitle>Tricolor Carioca</mat-card-subtitle>
        </mat-card-header>
        <img
          class="imgFlu"
          mat-card-image
          src="../../../assets/img/fluminense.png"
          alt="Escudo do Fluminense"
        />
        <mat-card-content>
          <p>Clique para acessar a página do tricolor paulista</p>
        </mat-card-content>
      </mat-card>
    </a>
    <a>
      <mat-card class="example-card" fxFlex>
        <mat-card-header>
          <mat-card-title>Botafogo FC</mat-card-title>
          <mat-card-subtitle>Fogão</mat-card-subtitle>
        </mat-card-header>
        <img
          class="imgBot"
          mat-card-image
          src="../../../assets/img/botafogo.png"
          alt="Escudo do Botafogo"
        />
        <mat-card-content>
          <p>Clique para acessar a página do fogão</p>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>
<app-footer
  style="position: absolute; bottom: 0px auto; width: 100%"
></app-footer>
