span {
  color: #cfdb21;
  text-shadow: #4e4b4b 2px 2px;
}

strong {
  color: #2dbd2d;
  text-shadow: #4e4b4b 2px 2px;
}

@media only screen and (max-width: 550px) {
  span {
    font-size: 0.9rem;
  }

  strong {
    font-size: 0.9rem;
  }
}
